@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: #0054A4;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 12px 15px;
    background-color: #0054A4;
    font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
    text-decoration: underline;
    background-color: #075198;
    transition: 0.3;
}

h1 {
    font-size: 40px;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 45px;
    font-weight: normal;
}

main {
    background-color: #E8F3FC;
    width: 100%;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
}

.inputs {
    background-color: white;
    border-top: 10px solid #0054A4;
    width: 800px;
    height: 500px;
}

.progress {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

[class^="visible-page"] {
    background-color: #E8F3FC;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    text-align: center;
    align-content: center;
    font-size: 36px;
}

.visible-page-1 {
    background-color: #0054A4;
    color: white;
}

.current-page h3 {
    margin-left: 105px;
    font-size: 32px;
    font-weight: normal;
}